.gallery {
  position: relative;
  margin-bottom: 150px;
  height: 717px;
  background-image: url("../recources/forest-landscape.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.gallery__text {
  position: absolute;
  bottom: 60px;
  width: 443px;
  line-height: 41px;
  font-size: 30px;
  letter-spacing: -0.03em;
  color: #fff;
}
